<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span style="color: red" th:text="${message}"></span>
<form action="ssoController/checkLogin" method="post">
    用户名：<input type="text" name="username" id="username"><br>
    密码:<input type="text" name="password" id="password"><br>
    <input type="submit" value="登录">
</form>
</body>
</html>